<ion-view title="My  Mushrooms" id="page2">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/app-shroomify-05.png"  style="display: block; margin-left: auto; margin-right: auto;">
            <!--img src="img/Qz1BPpJ5SNSNktHEUEB8_Pilz.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"-->
        </div>
        <div>
            <!--img src="img/tbdd6MUSP64xH5scBXxA_Pilze.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"-->
        </div>
    </ion-content>
</ion-view>
